---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <div class="tags">
    <a href="{{ site.github.repo }}/blob/gh-pages/{{ page.path }}" class="pull-right">編輯</a> {% for tag in page.tags %}<a href="{{ site.baseurl }}/tag/#{{ tag }}">#{{ tag }}</a> {% endfor %}
  </div>
</div>

<div class="pagination">
  {% if page.previous %}
  <a class="pagination-item older" href="{{ site.baseurl }}/{{ page.previous.url }}">{{ page.previous.title }}</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/{{ page.next.url }}">{{ page.next.title }}</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>


<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.baseurl }}{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"jasonsoso"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
