---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <div class="tags">
    <a href="{{ site.github.repo }}/blob/gh-pages/{{ page.path }}" class="pull-right">編輯</a> {% for tag in page.tags %}<a href="{{ site.baseurl }}/tag/#{{ tag }}">#{{ tag }}</a> {% endfor %}
  </div>
</div>

<div class="pagination">
  {% if page.previous %}
  <a class="pagination-item older" href="{{ site.baseurl }}/{{ page.previous.url }}">{{ page.previous.title }}</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/{{ page.next.url }}">{{ page.next.title }}</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>


<script type="text/javascript">
(function(){
var url = "http://widget.weibo.com/distribution/comments.php?width=0&url=http%3A%2F%2Fopen.weibo.com%2Fwidget%2Fcomments.php&appkey=2037101678&dpc=1";
document.write('<iframe id="WBCommentFrame" src="' + url + '" scrolling="no" frameborder="0" style="width:100%"></iframe>');
})();
</script>
<script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
window.WBComment.init({
    "id": "WBCommentFrame"
});
</script>